<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DatabaseCheckConnection" connectionString = "server=yourServer;port=1111;database=;user id=yourUserID;password=yourPassword" />
		<add name="DefaultConnection" connectionString = "server=yourServer;port=1111;database=yourDatabaseName;user id=yourUserID;password=yourPassword"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>